/* Global */

@custom-media --mq-mobile-only (max-width: 420px);

:root {
  --color-black: #1d1d1b;
  --color-white: #ffffff;
  --color-grey: #aaa;
  --color-grey-light: #f4f4f2;
  --color-purple: #4f4daa;
  --color-purple-light: #E6E6FA ;
}

*, *:focus {
  outline: none !important;
}

h1 {
  font-size: 36px !important;
  color: var(--color-black);
  font-family: Begum,serif;
  font-weight: 600;
}

h2 {
  font-size: 22px !important;
  color: #1d1d1b;
  font-family: Begum,serif;
  font-weight: 600;
  line-height: 1.2;
}

p {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-top: 0;
  color: #666;
}

.section-headline {
  text-align: left;
  margin: 16px 32px 32px 32px;
  h1 {
    margin: 19px 0 6px 0;
  }
}

.card-headline {
  width: 100%;
  margin: 16px 0 32px 0;
  text-align: left;
}

.btn-primary {
  font-family: Arial,serif;
  display: inline-block;
  margin: 0;
  text-decoration: none;
  font-size: 12px;
  letter-spacing: .86px;
  text-align: center;
  width: auto;
  min-width: 250px;
  transition: background-color .2s ease-in-out, color .2s ease-in-out;
  padding: 0 20px;
  height: 50px;
  border-radius: 80px;
  line-height: 50px;
  outline: none;
  color: var(--color-white);
  background-color: var(--color-purple) !important;
  text-transform: uppercase;
  font-weight: 700;
  border: none;

  &:hover {
    transition: background-color .3s ease-in-out, color .3s ease-in-out;
    background-color: var(--color-purple-light) !important;
    color: var(--color-purple) !important;
    box-shadow: 0px 0px 21px -2px rgba(0,0,0,0.47);
  }
}

.btn-delete {
  background-color: var(--color-white);
  border: 1px solid var(--color-grey);
  border-radius: 20px;
  display: block;
  height: 25px;
  overflow: hidden;
  transition: background-color .2s ease-in-out;
  width: 25px;

  &:hover {
    background-color: var(--color-grey-light);
    transition: background-color .2s ease-in-out;
  }

  p {
    margin: 0;
  }
}

.App {
  min-height: 100vh;
  text-align: center;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  header {
    margin-right: -15px ;
    margin-left: -15px;
    width: 100%;
    border-bottom: 1px solid #efefef;
    height: 80px;
    padding: 20px;
    color: white;

    .header-inner {
      position: relative;
      margin-left: auto;
      margin-right: auto;
      max-width: 1280px;
      text-align: right;
      width: 100%;

      img {
        position: absolute;
        left: 0;
        top: -20px;
        width: 125px;
      }
    }
  }

  footer {
    background-color: var(--color-black);
    color: var(--color-white);
    font-family: sans-serif;
    font-weight: 400;
    height: auto;
    min-height: 300px;
    overflow: hidden;
    padding-bottom: 80px;
    position: relative;
    width: 100%;
    z-index: 10;
  }
}

/* Message section */
.message-container {
  background-color: var(--color-grey-light);
  max-width: 1280px;
  margin-top: 80px;
  margin-bottom: 80px;
  padding: 80px 15px;

  .message-form, .message-list {
    background-color: var(--color-white);
    margin-bottom: 32px;
    padding: 32px;
    min-height: 460px;
  }

  .message-form {
    display: flex;
    flex-direction: column;
    align-items: center;

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }

    textarea {
      height: 234px;
      width: 360px;
      padding: 30px;
      border: none;
      box-shadow: 0 2px 10px 0 rgba(0,0,0,.14);
      margin-bottom: 32px;
      @media (--mq-mobile-only) {
        width: 100%;
      }
    }
  }

  .message {
    position: relative;
    min-height: 234px;
    max-width: 360px;
    padding: 30px;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.14);
    margin: 0 auto 32px auto;
    text-align: left;
    font-size: 15px;
    border-radius: 8px;
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: -5px;
      right: -5px;
      transform: perspective(8px) rotateX(-1deg);
      background: var(--color-white);
      box-shadow: 2px 6px 29px 1px rgba(0,0,0,.26);
      height: 12px;
    }

    .btn-delete {
      position: absolute;
      bottom: -8px;
      right: -8px;
    }
  }
}